{:deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  io.github.humbleui/humbleui
  {:git/sha "592fd124c84915cf14909584535469b287d577e9"
   #_#_:local/root "/ws/humbleui"}}
 :aliases
 {:dev
  {:main-opts   ["-m" "nrepl.cmdline"]
   :extra-paths ["dev"]
   :extra-deps  {nrepl/nrepl {:mvn/version "1.3.0"}}}}}